{% extends 'home/base-login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Add new Invoice {% endblock %}

{% block content %}


    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Invoice</h3>
    
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
        <div class="text-center dont-have"><a href="{% url 'Invoiceindex' %}">Back</a></div>
    <div class="card-body">
    
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
               <h5 class="form-title"><span>Invoice Details</span></h5>
            </div>
            
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Patient Name</label>
                    {{ form.patient_name }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Date</label>
                   {{ form.date }}
               </div>
            </div>
            
        {% for data in formset %}
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Invoice Title</label>
                    {{ data.invoice_title }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Subtotal Amount</label>
                    {{ data.subtotal_amount }}
                </div>
                </div>
                <div class="col-12 align-self-end">
                  
                <button type="button" class="btn btn-danger btn-sm remove-form-row" id="{{ formset.prefix }}"> Delete     </button>
            </div>
            
        {% endfor %}
        
            <div class="col-12 col-sm-6">
            <div class="my-4">
                <button type="button" class="btn btn-success me-2 add-form-row" id="{{ formset.prefix }}">Add Item</button>
                <!-- <button type="button" class="btn btn-success me-2" hx-get="{% url 'create-invoice' %}" hx-target="#invoice-partial" hx-swap="beforebegin">Add Invoice</button> -->
            </div>
            </div>
            {{ formset.management_form }}
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Total Amount</label>
                    {{ form.total_amount }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Discount Percentage<b>(%)</b></label>
                    {{ form.discount_percentage }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Discount Amount</label>
                    {{ form.discount_amount }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Tax Percentage<b>(%)</b></label>
                   {{ form.tax_percentage }}
                 </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Tax Amount</label>
                   {{ form.tax_amount }}
                </div>
                </div>
       <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Grand Total</label>
                {{ form.adjusted_amount }}
            </div>
        </div>
        
        <div class="col-12">
            <button id="btnTab" name="save" type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
    </form>
    <!-- <div class="login-or">
    <span class="or-line"></span>
    <span class="span-or">or</span>
    </div>
    
    <div class="social-login">
    <span>Register with</span>
    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a>
    </div> -->
    
    
</div>
</div>
</div>
</div>
</div>
</div>
{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}

<script>// src="{% static 'invoice/invo.js' %}
    document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    
    //Calculating Sub Total
    function subcalc(){
            var sub_total = 0
            
            $('[name="invoice-0-subtotal_amount"]').each(function(){
                sub_total += parseFloat($(this).val())
            })
            $('#id_total_amount').val(sub_total.toFixed(3))
            subcalc()

        }
    
    $(document).ready(function(){    
        

        // calculating discount amount from percentage
        $('#id_discount_percentage').on('change', function(){
            var perc = $(this).val()
                perc = perc > 0 ? perc : 0;
            
            var total = $('#id_total_amount').val()
            
                
            var disc = parseFloat(perc / 100) * parseFloat(total) ;
            $('#id_discount_amount').val(disc.toFixed(3))
            calc_total()
        })
        
        // calculating discount amount from percentage
        $('#id_tax_percentage').on('change', function(){
            var perc = $(this).val()
                perc = perc > 0 ? perc : 0;
    
            var sub_total =  $('#id_total_amount').val()
            var disc_amount = $('#id_discount_amount').val()
            var total_afterdisc = parseFloat(sub_total) - parseFloat(disc_amount)
                
            var tax = parseFloat(perc / 100) * parseFloat(total_afterdisc) ;
            $('#id_tax_amount').val(tax.toFixed(3))
            calc_total()
            
        })
        function calc_total(){
            var sub_total =  $('#id_total_amount').val()
            var disc =  $('#id_discount_amount').val()
            var tax =  $('#id_tax_amount').val()
    
            var total = (parseFloat(sub_total) - parseFloat(disc)) + parseFloat(tax)
            $('#id_adjusted_amount').val(total.toFixed(3))
        }
    })
    // document.getElementById('btnTab').addEventListener('click', this.openTab);
    // function openTab(ev) {
    //         console.log('open a tab');
    //         let win = window.open('{% url 'invoice_list' %}', 5000);
    //         win.onload = (ev) => {
                
    //         setTimeout(() => {
    //             win.close();
    //             }, 2500);
    //         };
    //         };
        
    </script>

{% endblock %}