{% extends 'home/base-login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Add new Invoice {% endblock %}

{% block content %}


    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Invoice</h3>
    
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
               <h5 class="form-title"><span>Invoice Details</span></h5>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Patient Name</label>
                    {{ form.patient_name }}
                </div>
            </div>

        <div class="col-12 col-sm-6">
             <div class="form-group">
                <label>Invoice Title</label>
                {{ form.invoice_title }}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Subtotal Amount</label>
               {{ form.subtotal_amount }}
           </div>
       </div>
       
        <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Discount Percentage<b>(%)</b></label>
               {{ form.discount_percentage }}
             </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Discount Amount</label>
               {{ form.discount_amount }}
            </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Tax Percentage<b>(%)</b></label>
                   {{ form.tax_percentage }}
                 </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Tax Amount</label>
                   {{ form.tax_amount }}
                </div>
                </div>
       <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Grand Total</label>
                {{ form.adjusted_amount }}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Date</label>
               {{ form.date }}
           </div>
       </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
    </form>
    <!-- <div class="login-or">
    <span class="or-line"></span>
    <span class="span-or">or</span>
    </div>
    
    <div class="social-login">
    <span>Register with</span>
    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a>
    </div> -->
    
    <div class="text-center dont-have"><a href="{% url 'Invoiceindex' %}">Back</a></div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
    $(document).ready(function(){
        // calculating discount amount from percentage
        $('#id_discount_percentage').on('change', function(){
            var perc = $(this).val()
                perc = perc > 0 ? perc : 0;

            var sub_total =  $('#id_subtotal_amount').val()
            
            var disc = parseFloat(perc / 100) * parseFloat(sub_total) ;
            $('#id_discount_amount').val(disc.toFixed(3))
            calc_total()
        })
    
        // calculating discount amount from percentage
        $('#id_tax_percentage').on('change', function(){
            var perc = $(this).val()
                perc = perc > 0 ? perc : 0;

            var sub_total =  $('#id_subtotal_amount').val()
            
            var tax = parseFloat(perc / 100) * parseFloat(sub_total) ;
            $('#id_tax_amount').val(tax.toFixed(3))
            calc_total()
        
        })

        function calc_total(){
            var sub_total =  $('#id_subtotal_amount').val()
            var disc =  $('#id_discount_amount').val()
            var tax =  $('#id_tax_amount').val()

            var total = (parseFloat(sub_total) - parseFloat(disc)) + parseFloat(tax)
            $('#id_adjusted_amount').val(total.toFixed(3))
        }
})
</script>

{% endblock %}