{% extends 'home/base2.html' %}

{% block title %} Nurse Page {% endblock %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'add_service' %}">Hospital Services</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'service_list' %}">List Hospital services</a></h4>
            
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'invoice_data' %}">Invoice Data</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'create_invoice' %}">Add Invoice</a></h4>
            
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'invoice_list' %}">List Patient Invoice</a></h4>
            
          </div>
        </div> -->

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'income' %}">Add Income</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div> 

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'income_list' %}">List of Payment details</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div> 
        

    </div>
  </section><!-- End Hero -->

  
  {% endblock %}
 