<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Total Amount</label>
        {{ form.total_amount }}
    </div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Discount Amount</label>
        {{ form.discount_amount }}
    </div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Discount Percentage</label>
        {{ form.discount_percentage }}
    </div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Tax Percentage</label>
        {{ form.tax_percentage }}
    </div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Tax Amount</label>
        {{ form.tax_amount }}
    </div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Adjusted Amount</label>
        {{ form.adjusted_amount }}
    </div>
</div>