{% extends 'home/base-login.html' %}
{% load static %}
{% block title %} Invoice list {% endblock %}

{% block content %}

      
      <div class="content container-fluid">
         
         <div class="page-header">


        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Bed Category</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'Invoiceindex' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List Invoice</li>
              </ul>
           </div>
           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     
     <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Patient name</th>
                             <th>Invoice title</th>
                             <th>Subtotal amount</th>
                             <th>Adjusted amount</th>
                             <th>Date</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for invoice in invoices %}
                       <tbody>
                          <tr>
                             <td>{{ invoice.invoice_id }}</td>
                             

                             <td>
                              <h2 class="#">
                                 <a href="{% url 'invoice_profile' invoice.invoice_id %}">{{ invoice.patient_name }}</a>
                              </h2>
                             </td>


                             

                             <td>
                                {{ invoice.invoice_title }}
                             </td>

                             <td>
                                {{ invoice.subtotal_amount }}
                             </td>
                             
                             <td>
                                {{ invoice.adjusted_amount }}
                             </td>
                             <td>
                                {{ invoice.date }}
                             </td>
                             <td class="text-right">
                                <div class="actions">
                                   <a href="{% url 'invoice_edit' invoice.invoice_id %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                   <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ invoice.invoice_title }}', '{{ invoice.invoice_id }}')">
                                   <i class="fas fa-trash"></i> 
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>

                    

                 </div>
                 
              </div>
            </div>
         </div>
      
   <script>
            function confirmDelete(roleName, roleId){
               if(confirm(`Are you sure you want to delete ${name}?`)) {
                  window.location.href = `{% url 'invoice_delete' invoice_id=0 %}`.replace('0', roleId);
               }
            }
   </script>
  <script src="{% static 'prescol/plugins/datatables/datatables.min.js' %}"></script>

  
  {% endblock %}
 