{% extends 'home/base-login.html' %}
{% load compress static %}
{% block title %} Hospital Service list {% endblock %}

{% block content %}

      
      <div class="content container-fluid">
         
         <div class="page-header">


        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Services</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'Invoiceindex' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List services</li>
              </ul>
           </div>

           <div class="top-nav-search">
            <form method="get" action="">
               <input type="text" id="search" class="form-control" placeholder="Search here" name="search" value="{{ search_query }}">
               <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>

           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     
     <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Service name</th>
                             <th>Price</th>
                             <th>Tax Percentage</th>
                             <th>Tax amount</th>
                             <th>Total price</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for item in services %}
                       <tbody>
                          <tr>
                             <td>{{ item.id }}</td>
                             

                             <td>{{ item.service_name }}
                              <!-- <h2 class="#">
                                 <a href="{% url 'invoice_profile' item.id %}">{{ item.service_name }}</a>
                              </h2> -->
                             </td>

                             <td>
                                {{ item.price }}
                             </td>
                             <td>
                                {{ item.tax_percentage }}
                             </td>
                             <td>
                              {{ item.tax_amount }}
                           </td>
                           <td>
                              {{ item.total_price }}
                           </td>
                             <td class="text-right">
                                <div class="actions">
                                 <a href="{% url 'service_edit' item.id %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                   <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ item.sevice_name }}', '{{ item.id }}')">
                                   <i class="fas fa-trash"></i> 
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>

                    

                 </div>
                 
              </div>
            </div>
         </div>
      <script>
         function confirmDelete(roleName, roleId){
            if(confirm(`Are you sure you want to delete ${name}?`)) {
               window.location.href = `{% url 'service_delete' service_id=0 %}`.replace('0', roleId);
            }
         }
      </script>
{% compress js %}   
  <script src="{% static 'prescol/plugins/datatables/datatables.min.js' %}"></script>
{% endcompress %}
  
  {% endblock %}
 