{% extends 'pharmaceuticals/base.html' %}
{% block content %}

<div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Pharmacy Sale</h3>
    <div class="text-center dont-have"><a href="{% url 'Pharmacyindex' %}">Back</a></div>
    </div>
    </div>
    </div>

    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
               <h5 class="form-title"><span>Medicine Sale</span></h5>
            </div>
            {% for field in form %}
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            </div>
            {% endfor %}
            

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
            </div>
            
        </form>
    </div>

<div id="modal" class="modal fade" tabindex="-1">
    <div id="dialog" class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" hx-target="this">
  

    </div>
</div>    
<script>
    $("#id_products").select2();
</script>
{% endblock%}


    
