
{% load compress static %}
{% block title %} Invoice list {% endblock %}

<div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title">Medicine list</h5>
     <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
   </div>
   <div class="modal-body">
      
         <div class="columns">
           <div class="column is-one-third is-offset-one-third">
             <input type="text" class="input" placeholder="Search" name="q" hx-get="/app/search/" hx-trigger="keyup changed delay:500ms" hx-target="#results">
           </div>
         </div>
         <table class="table is-fullwidth">
           <thead>
             <tr>
               
               <th>Title</th>
               <th>Category</th>
               <th>Price</th>
               
               <th class="text-right">Action</th>
             </tr>
           </thead>
           <tbody id="results">
     
           </tbody>
         </table>
      
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
   </div>
 </div>



<!-- 

<div class="container-fluid">
         
   <div class="modal-header">

      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Stock Information</h3>
               <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'Inventoryindex' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List of items</li>
               </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
     
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="modal-body">
               <div class="table-responsive">
                  <table class="table table-hover table-center mb-0 datatable">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Item name</th>
                           <th>Category</th>
                           <th>Price</th>
                           <th>Remaining stock</th>
                           <th>Last Modified</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     {% for stock in stocks %}
                     <tbody>
                        <tr>
                           <td>{{ stock.id }}</td>
                             
                           <td>{{ stock.item_name }}</td>
                           <td>
                                {{ stock.category.name }}
                             </td>

                             <td>
                                {{ stock.price }}
                             </td>
                             
                             <td>
                                {{ stock.stock }}
                             </td>
                             <td>
                                {{ stock.last_updated }}
                             </td>
                             
                             <td class="text-right">
                                <div class="actions">
                                   <a href="{% url 'stock_edit' stock.id %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                   <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ stock.item_name }}', '{{ stock.id }}')">
                                   <i class="fas fa-trash"></i> 
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>

                    

                 </div>
                 
              </div>
   </div><div class="modal-footer"></div>
</div> -->
      
      
{% compress js %}   
   <script src="{% static 'prescol/js/script.js' %}"></script>
  <script src="{% static 'prescol/plugins/datatables/datatables.min.js' %}"></script>
{% endcompress %}
  
