{% extends 'home/base-login.html' %}
{% load compress static %}
{% block title %} Invoice list {% endblock %}

{% block content %}

      
      <div class="content container-fluid">
         
         <div class="page-header">


        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Bed Category</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'Inventoryindex' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List Invoice</li>
              </ul>
           </div>
           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     
     <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Item name</th>
                             <th>Category</th>
                             <th>Price</th>
                             <th>Remaining stock</th>
                             <th>Last Modified</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for stock in stocks %}
                       <tbody>
                          <tr>
                             <td>{{ stock.id }}</td>
                             
                             <td>
                                {{ stock.item_name }}
                             </td>

                             <td>
                                {{ stock.category.name }}
                             </td>

                             <td>
                                {{ stock.price }}
                             </td>
                             
                             <td>
                                {{ stock.stock }}
                             </td>
                             <td>
                                {{ stock.last_updated }}
                             </td>
                             
                             <td class="text-right">
                                <div class="actions">
                                   <a href="{% url 'stock_edit' stock.id %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                   <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ stock.income_status }}', '{{ stock.id }}')">
                                   <i class="fas fa-trash"></i> 
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>

                    

                 </div>
                 
              </div>
            </div>
         </div>
      
   <script>
            function confirmDelete(roleName, roleId){
               if(confirm(`Are you sure you want to delete ${name}?`)) {
                  window.location.href = `{% url 'income_delete' id=0 %}`.replace('0', roleId);
               }
            }
   </script>
{% compress js %}   
  <script src="{% static 'prescol/plugins/datatables/datatables.min.js' %}"></script>
{% endcompress %}
  
  {% endblock %}
 