{% extends 'home/base1.html' %}
{% load static %}
{% block title %} Edit Profile {% endblock %}

{% block content %}


  


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
              <h4 class="title"><a href="{% url 'changePassword' %}">Change Password</a></h4>
              <p class="description">Edit your password</p>
            </div>
          </div>
        

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="{% url 'changeProfile' %}">Edit you Profile</a></h4>
            <p class="description">Make changes to your profile</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="{% url 'delete_account' %}">Delete your Account</a></h4>
            <p class="description">Make changes to your profile</p>
          </div>
        </div>


      </div>
        

    </div>
  </section><!-- End Hero -->

  
  {% endblock %}
 