{% extends 'home/base2.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}

  
  
  {% block content %}
  
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>MySpace Hospital</h2>
      <p>We are team of talented practioners</p>
    </div>

    <div class="row">

      {% if user.is_superuser or 'HR' or 'SeniorHR' or 'Director' in user_groups %}

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Dindex' %}" class="logo"><img src="{% static 'img/icons/doctor.png' %}" alt="" class="img-fluid"></a>
          </div>
          <h4><a href="{% url 'Dindex' %}">Doctor</a></h4>
          <p>Manage and view Doctor details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'staff' %}" class="logo"><img src="{% static 'img/icons/support-staff.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'staff' %}">Staff</a></h4>
          <p>Manage and view Staff Details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Nurseindex' %}" class="logo"><img src="{% static 'img/icons/nurse.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Nurseindex' %}">Nurse</a></h4>
          <p>Manage and view Nurse details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Pharmacistindex' %}" class="logo"><img src="{% static 'img/icons/roles.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Pharmacistindex' %}">Pharmacist</a></h4>
          <p>Manage and view Pharmacist details</p>
        </div>
      </div>

      {% endif %}<br><div></div><br>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Pindex' %}" class="logo"><img src="{% static 'img/icons/patient.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Pindex' %}">Patient</a></h4>
          <p>Manage and view Patient details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Treatmentindex' %}" class="logo"><img src="{% static 'img/icons/treatment-image.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Treatmentindex' %}">Treatment</a></h4>
          <p>Manage and view Treatment details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Bindex' %}" class="logo"><img src="{% static 'img/icons/accountant.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Bindex' %}">Room</a></h4>
          <p>Manage Occupancy details</p>
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/accountant.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="">Accounts</a></h4>
          <p>List and Manage Account details</p>
        </div>
      </div> -->

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Pharmacyindex' %}" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Pharmacyindex' %}">Pharmacy</a></h4>
          <p>Manage Pharmacy products</p>
        </div>
      </div>

      <br><div></div><br>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Edit' %}" class="logo"><img src="{% static 'img/icons/edit-profile.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Edit' %}">Edit Profile</a></h4>
          <p>Make Changes to your Profile</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'Invoiceindex' %}" class="logo"><img src="{% static 'img/icons/invoice.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'Invoiceindex' %}">Invoice</a></h4>
          <p>Manage and view Invoice Details</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><a href="{% url 'signout' %}" class="logo"><img src="{% static 'img/icons/logout.png' %}" alt="" class="img-fluid"></a></div>
          <h4 class="title"><a href="{% url 'signout' %}">Logout</a></h4>
          <p>Sign out from dashboard</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Sevices Section -->

{% endblock %}