{% extends 'home/base1.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/doctor.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="{% url 'Dindex' %}">Doctor</a></h4>
            <p class="description">Manage and list Docotor details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/patient.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Patient</a></h4>
            <p class="description">Manage and List Patient details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/nurse.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Nurse</a></h4>
            <p class="description">Manage and list Nurse details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/treatment-image.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Consulting</a></h4>
            <p class="description">Manage and list Consulting details</p>
          </div>
        </div>

      </div>

      <div class="row icon-boxes">
        
        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/support-staff.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Staff</a></h4>
            <p class="description">Manage and List Staff details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/assign-bed-image.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Assign Bed</a></h4>
            <p class="description">Manage and List Occupancy details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/accountant.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Accounts</a></h4>
            <p class="description">Manage and Accounts Staff details</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="">Pharmaceuticals</a></h4>
            <p class="description">Manage and list Pharmacy products</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="{% url 'Edit' %}">Edit Profile</a></h4>
            <p class="description">Make Changes to your Profile</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-center mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><a href="#" class="logo"><img src="{% static 'img/icons/medicine.png' %}" alt="" class="img-fluid"></a></div>
            <h4 class="title"><a href="{% url 'signout' %}">Logout</a></h4>
            <p class="description">Sign out from dashboard</p>
          </div>
        </div>

        

      </div>

    </div>
  </section><!-- End Hero -->

  {% endblock %}
  
  
  
  
