{% extends 'home/base1.html' %}

{% block title %} Roles Page {% endblock %}

{% block content %}


  


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'createrole' %}">Add New Roles</a></h4>
            <p class="description">Create New Role </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'rolelist' %}">View Roles</a></h4>
            <p class="description"> List the roles</p>
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Delete Doctor from list</a></h4>
            <p class="description"></p>
          </div>
        </div> -->

        

    </div>
  </section><!-- End Hero -->

  
  {% endblock %}
 