{% extends 'home/base-login.html' %}
{% load static %}
{% block title %} Role list {% endblock %}

{% block content %}



        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Roles</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'staff' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List of roles</li>
              </ul>
           </div>
           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Name</th>
                             <th class="text-right">Permission</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for role in roles %}
                       <tbody>
                          <tr>
                             <td>{{ role.id }}</td>
                             <td>
                                {{ role.name }}
                             </td>
                             
                             <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'associate_permissions' role.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 
                              </div>
                           </td>

                             <td class="text-right">
                                <div class="actions">
                                   <a href="{% url 'edit_role' role.id %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                   <a href="{% url 'delete_role' role_id=0 %}" class="btn btn-sm bg-danger-light" >
                                   <i class="fas fa-trash"></i>
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>
                 </div>
              </div>
   
              <!-- onclick="confirmDelete('{{ role.name }}', '{{ role.id }}')"
  <script>
   function confirmDelete(roleName, roleId){
      if(confirm(`Are you sure you want to delete ${roleName}?`)) {
         window.location.href = `{% url 'delete_role' role_id=0 %}`.replace('0', roleId);
      }
   }
  </script> -->

  
  {% endblock %}
 