{% extends 'home/base-login.html' %}
{% load static %}
{% block title %} Staff list {% endblock %}

{% block content %}



        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Roles</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'staff' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List of roles</li>
              </ul>
           </div>
           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>First Name</th>
                             <th>Last Name</th>
                             <th>Username</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for staff_member in staff_members %}
                       <tbody>
                          <tr>
                             <td>{{ staff_member.first_name }}</td>
                             <td>{{ staff_member.last_name }}</td>
                             <td>{{ staff_member.username }}</td>
                             <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'edit_staff' staff_member.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ staff_member.username }}', '{{ staff_member.id }}')">
                                 <i class="fas fa-trash"></i>
                                 </a> 
                              </div>
                           </td>
                             
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>
                 </div>
              </div>

  <script>
   function confirmDelete(username, userId){
      if(confirm(`Are you sure you want to delete ${username}?`)) {
         window.location.href = `{% url 'delete_staff' user_id=0 %}`.replace('0', userId);
      }
   }
  </script>

  
  {% endblock %}
 