{% extends 'home/base2.html' %}

{% block title %} Patient Page {% endblock %}

{% block content %}


  


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'patient' %}">Add new Patient</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'patient_status' %}">Patient Status Category</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'doctor_appointments' %}">Appointments</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'doctor_queue' %}">Patient Queue</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'multiple_queue' %}">Multiple Doctor Queue</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'patient_admission' %}">Patient Admission</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{% url 'patient_appointment' %}">Patient Appointment</a></h4>
            <p class="description"></p>
          </div>
        </div> -->

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="ri-stack-line"></i></div>
              <h4 class="title"><a href="{% url 'guardian' %}">Add By Stander</a></h4>
              <!--<p class="description"></p>-->
            </div>
          </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'patient_list' %}">View and Edit Patient</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'guardian_list' %}">View Guardian</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        

    </div>
  </section><!-- End Hero -->

  
  {% endblock %}
 