{% extends 'home/base2.html' %}

{% block title %} Nurse Page {% endblock %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row icon-boxes">

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'addRoom' %}">Add new Room</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>


        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'bookRoom' %}">Room booking</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{% url 'booking' %}">Booking Details</a></h4>
            <!--<p class="description"></p>-->
          </div>
        </div>


        <!-- old bed index -->
        

        <!-- end old bed -->

    </div>
  </section><!-- End Hero -->

  
  {% endblock %}
 