{% extends 'home/base-login.html' %}
{% load compress static %}
{% block title %} Room detail list {% endblock %}

{% block content %}
      
      <div class="content container-fluid">
         
         <div class="page-header">

            

        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Room details</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="{% url 'Bindex' %}">Dashboard</a></li>
                 <li class="breadcrumb-item active">List room details</li>
              </ul>
           </div>

           <div class="top-nav-search">
            <form method="get" action="">
               <input type="text" id="search" class="form-control" placeholder="Search here" name="search" value="{{ search_query }}">
               <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>

           <div class="col-auto text-right float-right ml-auto">
              <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
              <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
           </div>
        </div>
     </div>
     
     <div class="row">
        <div class="col-sm-12">

         <form id="page-size-form" method="get" action="">
            <label for="page_size">Items per page:</label>
            <select id="page_size" name="page_size" onchange="updatePageSize()">
               <option value="5" {% if page_size == 5 %}selected{% endif %}>5</option>
               <option value="10" {% if page_size == 10 %}selected{% endif %}>10</option>
               <option value="20" {% if page_size == 20 %}selected{% endif %}>20</option>
               <option value="40" {% if page_size == 40 %}selected{% endif %}>40</option>
            </select>
         </form>

           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Number</th>
                             <th>Room type</th>
                             <th>Room price</th>
                             
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       {% for data in room_page %}
                       <tbody>
                          <tr>
                             <td>{{ data.room.id }}</td>
                             
                             <td>
                                {{ data.room.number }}
                             </td>
                             <td>{{ data.room.roomType }}</td>
                             
                             <td>
                                {{ data.room.price }}
                             </td>
                             
                             <td class="text-right">
                                <div class="actions">
                                   
                                   <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete('{{ data.number }}', '{{ data.id }}')">
                                   <i class="fas fa-trash"></i>
                                   </a>
                                </div>
                             </td>
                          </tr>
                          
                       </tbody>
                       {% endfor %}
                    </table>                  
                 </div>

                 <nav>
                  <ul class="pagination">

                     {% for page_num in room_page.paginator.page_range %}
                        <li class="page-item{% if page_num == room_page.number %} active{% endif %}"> 
                           <a class="page-link" href="?page={{ page_num }}&page_size={{ page_size }}">{{ page_num }}</a>
                        </li> 
                     {% endfor %}
                  </ul>
                 </nav>
                 
              </div>
            </div>
         </div>

         <script>
            function updatePageSize(){
               document.getElementById("page-size-form").submit();
            }
         </script>
      
   <script>
            function confirmDelete(roleName, roleId){
               if(confirm(`Are you sure you want to delete ${name}?`)) {
                  window.location.href = `{% url 'room_delete' room_id=0 %}`.replace('0', roleId);
               }
            }
   </script>
{% compress js %}
  <script src="{% static 'prescol/plugins/datatables/datatables.min.js' %}"></script>
{% endcompress %}
  
  {% endblock %}
 