{% extends 'home/base-login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Edit room {% endblock %}

{% block content %}

<div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Edit Room details</h3>
    
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    
    
    <form method="post">
        {% csrf_token %}
        <div class="col-12 col-sm-6">
     <div class="form-group">
        {{ form.as_p }}
        </div>
        </div>
   
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div> 
    </form>
    
    <!-- <div class="login-or">
    <span class="or-line"></span>
    <span class="span-or">or</span>
    </div>
    
    <div class="social-login">
    <span>Register with</span>
    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a>
    </div> -->
    
    <div class="text-center dont-have"><a href="{% url 'room_list' %}">Back</a></div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}